.widget {
	padding: 5px 5px ;
	text-align: center;
	max-width: 95%;
	margin: auto;
	font-variant-caps: petite-caps;
	width: 95%;
	min-height: 100px;
	background: /* corners */
		linear-gradient(to right, #005D75 4px, transparent 4px) 0 0, /* teal-font-medium */
		linear-gradient(to right, #005D75 4px, transparent 4px) 0 100%,
		linear-gradient(to left, #005D75 4px, transparent 4px) 100% 0,
		linear-gradient(to left, #005D75 4px, transparent 4px) 100% 100%,
		linear-gradient(to bottom, #005D75 4px, transparent 4px) 0 0,
		linear-gradient(to bottom, #005D75 4px, transparent 4px) 100% 0,
		linear-gradient(to top, #005D75 4px, transparent 4px) 0 100%,
		linear-gradient(to top, #005D75 4px, transparent 4px) 100% 100%;
		
	background-color: #9BEBFF;
	background-repeat: no-repeat;
	background-size: 20px 20px;

}

.quote {
	color: #005D75; /* teal-font-medium */
	font-size: 2em;
}

.songAndAlbum {
	color: #005D75; /* teal-font-medium */
	font-size: 1.2em;
}

div {
}
