/* https://www.color-hex.com/color-palette/105100 */
.wedding-color-1 {
	background-color: #bfadcc;
	color: #5d0076;
}
.wedding-color-2 {
	background-color: #ffe1f5;
	color: #5d0076;
}
.wedding-color-3 {
	background-color: #dfbbda;
	color: #5d0076;
}
.wedding-color-4 {
	background-color: #896790;
	color: #5d0076;
}
.wedding-color-5 {
	background-color: #f2bae4;
	color: #5d0076;
}
.wedding-font-dark {
	color: #5d0076;
}