.light-gray {
  color: #97a1aa;
}

.dark-gray {
  color: #5e6870;
}

/* Inspired by: https://www.color-hex.com/color-palette/1007760 */
/* https://coolors.co/ead0f1-e3b7f1-c88fda-a37ab8-825996 */
/* Lilac color scheme, light to dark */
.wedding-bck-gradient-main {
  background: linear-gradient(to right, #825996 4px, transparent 4px) 0 0, linear-gradient(to right, #825996 4px, transparent 4px) 0 100%, linear-gradient(to left, #825996 4px, transparent 4px) 100% 0, linear-gradient(to left, #825996 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #825996 4px, transparent 4px) 0 0, linear-gradient(to bottom, #825996 4px, transparent 4px) 100% 0, linear-gradient(to top, #825996 4px, transparent 4px) 0 100%, linear-gradient(to top, #825996 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background: linear-gradient(45deg, #ead0f1 40%, #c88fda 100%);
}

.wedding-bck-gradient-1 {
  background: linear-gradient(45deg, #ead0f1 40%, #6e78ff 100%);
}

.wedding-bck-gradient-2 {
  background: linear-gradient(45deg, #e3b7f1 40%, #6e78ff 100%);
}

.wedding-bck-gradient-3 {
  background: linear-gradient(45deg, #c88fda 40%, #6e78ff 100%);
}

.wedding-bck-gradient-4 {
  background: linear-gradient(45deg, #a37ab8 40%, #6e78ff 100%);
}

.wedding-bck-gradient-5 {
  background: linear-gradient(45deg, #825996 40%, #6e78ff 100%);
}

.wedding-border {
  border: 2px solid #501B5F;
  border-radius: 5px;
}

/* https://coolors.co/9ce4e8-6ad6dc-2fbfc6-28a2a8-1f7f84 */
/* Teal color scheme, light to dark */
.teal-background-gradient, .greetings_lbl {
  background: linear-gradient(to right, #175F63 4px, transparent 4px) 0 0, linear-gradient(to right, #175F63 4px, transparent 4px) 0 100%, linear-gradient(to left, #175F63 4px, transparent 4px) 100% 0, linear-gradient(to left, #175F63 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #175F63 4px, transparent 4px) 0 0, linear-gradient(to bottom, #175F63 4px, transparent 4px) 100% 0, linear-gradient(to top, #175F63 4px, transparent 4px) 0 100%, linear-gradient(to top, #175F63 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background: linear-gradient(45deg, #9CE4E8 40%, #2FBFC6 100%);
}

.teal-font-light {
  color: #CEF2F3;
}

.teal-font-medium {
  color: #238F95;
}

.teal-font-dark {
  color: #104042;
}

/* https://coolors.co/dfb9d3-d29dc1-b8659e-893f71-622d51 */
/* purple color scheme, light to dark */
.purple-bck-color-1 {
  background-color: #DFB9D3;
}

.purple-bck-color-2 {
  background-color: #DFB9D3;
}

.purple-bck-color-3 {
  background-color: #B8659E;
}

.purple-bck-color-4 {
  background-color: #893F71;
}

.purple-bck-color-5 {
  background-color: #622D51;
}

.purple-font-light {
  color: #381A2E;
}

.purple-font-medium {
  color: #70335D;
}

.purple-font-dark {
  color: #381A2E;
}

.purple-background-gradient {
  background: linear-gradient(to right, #622D51 4px, transparent 4px) 0 0, linear-gradient(to right, #622D51 4px, transparent 4px) 0 100%, linear-gradient(to left, #622D51 4px, transparent 4px) 100% 0, linear-gradient(to left, #622D51 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #622D51 4px, transparent 4px) 0 0, linear-gradient(to bottom, #622D51 4px, transparent 4px) 100% 0, linear-gradient(to top, #622D51 4px, transparent 4px) 0 100%, linear-gradient(to top, #622D51 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background: linear-gradient(45deg, #DFB9D3 40%, #B8659E 100%);
}

#lbl {
  font-family: Lyon-Text, Georgia, ui-serif, serif;
  font-size: xx-large;
  color: #005D75;
  padding: 5px;
  text-align: center;
  line-height: 1.5;
}

#date {
  font-size: large;
}/*# sourceMappingURL=greetings.css.map */