 @use 'mixins.scss';
 
 
 $font-stack-print: Lyon-Text, Georgia, ui-serif, serif;   
    
    
.light-gray {
	color: #97a1aa;
}
.dark-gray {
	color: #5e6870;
}


    
/* Inspired by: https://www.color-hex.com/color-palette/1007760 */
/* https://coolors.co/ead0f1-e3b7f1-c88fda-a37ab8-825996 */
/* Lilac color scheme, light to dark */
$wedding_bck_color_1: #ead0f1;
$wedding_bck_color_2: #e3b7f1;
$wedding_bck_color_3: #c88fda;
$wedding_bck_color_4: #a37ab8;
$wedding_bck_color_5: #825996;
$wedding_font_dark: #501B5F;
$wedding_font_light: #f9edfd;

.wedding-bck-gradient-1 {
	@include createLinearGradient(45deg, $wedding_bck_color_1, #6e78ff);
}
.wedding-bck-gradient-2 {
	@include createLinearGradient(45deg, $wedding_bck_color_2, #6e78ff);
}
.wedding-bck-gradient-3 {
	@include createLinearGradient(45deg, $wedding_bck_color_3, #6e78ff);
}
.wedding-bck-gradient-4 {
	@include createLinearGradient(45deg, $wedding_bck_color_4, #6e78ff);
}
.wedding-bck-gradient-5 {
	@include createLinearGradient(45deg, $wedding_bck_color_5, #6e78ff);
}
.wedding-font-dark {
	color: $wedding_font_dark;
}
.wedding-font-light {
	color: $wedding_font_light;
}
.wedding-border{
	border: 2px solid $wedding_font_dark;
	border-radius: 5px;
}



/* https://coolors.co/palette/9bebff-7ce5ff-42d9ff-00bbe9-008caf */
/* Teal color scheme, light to dark */

$teal_bck_color_1: #9BEBFF;
$teal_bck_color_2: #7CE5FF;
$teal_bck_color_3: #42D9FF;
$teal_bck_color_4: #00BBE9;
$teal_bck_color_5: #008CAF;
$teal_bck_color_6: #005D75;
$teal_font_light: #C5F3FF;
$teal_font_medium: #005D75;
$teal_font_dark: #004657;

body{
	@include createCornerGradient($teal_bck_color_6, $teal_bck_color_1);
}

.teal-font-light {
	color: $teal_font_light;
}
.teal-font-medium{
	color: $teal_font_medium;
}
.teal-font-dark {
	color: $teal_font_dark;
}



/* https://colorkit.co/palette/660e60-893f71-ac6f82-cfa093-f3d0a4/ */
/* https://colorkit.co/color/660e60/ */
/* purple color scheme, light to dark */

$purple_bck_color_1: #f3d0a4;
$purple_bck_color_2: #cfa093;
$purple_bck_color_3: #ac6f82;
$purple_bck_color_4: #893f71;
$purple_bck_color_5: #660e60;
$purple_font_light: #e1cede;
$purple_font_medium: #3c0538;
$purple_font_dark: #230220;

.purple-bck-color-1 {
	background-color: $purple_bck_color_1;
}
.purple-bck-color-2 {
	background-color: $purple_bck_color_2;
}
.purple-bck-color-3 {
	background-color: $purple_bck_color_3;
}
.purple-bck-color-4 {
	background-color: $purple_bck_color_4;
}
.purple-bck-color-5 {
	background-color: $purple_bck_color_5;
}
.purple-font-light {
	color: $purple_font_light;
}
.purple-font-medium{
	color: $purple_font_medium;
}
.purple-font-dark {
	color: $purple_font_dark;
}





.taylorQuoteWidget {
	@include createCornerGradient($teal_bck_color_6, $teal_bck_color_1);

	padding: 5px 5px ;
	text-align: center;
	max-width: 95%;
	margin: auto;
	font-variant-caps: petite-caps;
	width: 95%;
	min-height: 100px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}